* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #AED6F1;
}
.slider {
    position: relative;
    width: 40%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #fff;
    border-radius: 20px;
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}
.images input {
    display: none;
}
.name {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.name label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #000 2px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 3px;
}
.name label:hover {
    background: #000;
}
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}
#img5:checked ~ .m5 {
    margin-left: -400%;
}
#img6:checked ~ .m6 {
    margin-left: -500%;
}